/*@Author: Alex*/
/*@Editor: Kat*/
#board {
	width: 1033px;
	height: 1100px;
	border-style: solid;
	border-color: black;
	padding: 10px 10px 10px 10px;
	background: rgba(105, 105, 105, 0.5);
	position: relative;
	margin: auto;
}

table, tr, td {
	width: 750px;
	height: 75px;
	border: 3px solid black;
	border-collapse: collapse;
	display: center;
	margin-left: auto;
	margin-right: auto;
}

#turn {
	text-align: center;
	font-family: Impact, Charcoal, sans-serif;
	border-style: solid;
	border-color: black;
	padding: 10px 10px 10px 10px;
	background: rgba(105, 105, 105, 0.5);
	position: relative;
	margin: auto;
}

.topbar {
	background-color: lightskyblue;
	border: black;
	border-radius: 12px;
  color: black;
  padding: 10px 30px;
  text-align: center;
  display: inline-block;
	font-size: 18px;
  transition-duration: 0.5s;
}

.topbar:hover {
	background-color: darkblue;
	color: white;
}

img{
	border: 3px solid black;
	width: auto;
	height: 100%;
	display: block;
}


/*Temporary solution to changing settings*/
body{
	background-image: url('images/Default.jpg');
	object-fit: cover;
	background-attachment: fixed;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
hd1, p, div.pref{
	text-align: center;
}
a:link, a:visited{
	color: black;
	text-decoration: none;
}
div.pref{
	border-style: solid;
	border-color: black;
	padding: 10px 10px 10px 10px;
	background: rgba(105, 105, 105, 0.5);
	width: 50%;
	position: relative;
	margin: auto;
}
.choice {
	border: none;
	text-decoration: none;
	padding: 10px 10px 10px 10px;
	background: rgba(0, 0, 26, 0.5);
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

p, button:hover{
	background: rgba(0, 0, 26, 0.75);
}
