body {
  background-color: burlywood;
  font-size: 30pt;
  font-family: 'tetris';
}
.start {
	background-color: orange;
	border: black;
	border-radius: 30%;
  	color: black;
  	padding: 10px 30px;
  	text-align: center;
  	display: inline-block;
	font-size: 18px;
  	transition-duration: 0.5s;
}
.start:hover {
	color: orangered;
}

.setting {
	background-color: #FF6347; /* Tomato */
	border: black;
	border-radius: 30%;
  	color: black;
  	padding: 10px 30px;
  	text-align: center;
  	display: inline-block;
	font-size: 18px;
  	transition-duration: 0.5s;
}
.setting:hover {
	color: orangered;
}